.feedback-input {
  transition: all ease-in 200ms;
  color: #b2b6cd;
  outline-color: transparent;
  &:focus {
    outline: 2px solid #141423;
  }
  &::placeholder {
    color: #717381;
    font-size: 17px;
    font-weight: 500;
  }
}

.tiptap {
  p {
    font-family: roboto;
  }

  ul,
  ol {
    padding: 0 1rem;
    margin: 0.2rem 1rem 1rem 1rem;
    li p {
      margin-block: 0.65em;
      margin-bottom: 0.1em;
    }
  }
  img {
    aspect-ratio: 0.5 / 0.5;
    max-height: 300px;
    max-width: 70%;
    width: auto;
    height: auto;
    margin: 10px 0;
  }
  transition: all ease-in 200ms;
  border-radius: 7px;
  padding-inline: 10px;
  line-height: 1.15;
  outline: none;
  padding-bottom: 20px;
}
